<!DOCTYPE html>
<html>
	
	<head>
		
		<title>::APP.TITLE::</title>
		
		<script type="text/javascript" src="swfobject.js"></script>
		<script type="text/javascript">
			
			swfobject.embedSWF ("::APP.FILE::.swf", "duell-view", "::PLATFORM:WIDTH::", "::PLATFORM.HEIGHT::", "::PLATFORM.TARGET_PLAYER::", "expressInstall.swf", ::PLATFORM.WIN_PARAMETERS::);
		</script>
		
		<style>
			#duell-view	{ width:::PLATFORM.WIDTH::px; height:::PLATFORM.HEIGHT::px; }
			body					{ margin:0; padding:0; overflow:hidden; }
		</style>
		
	</head>
	
	<body>
		
		<div id="duell-view"></div>
		
	</body>
	
</html>